<div class="row">
<!--   <div class="span2"></div> -->
  <h3>Welcome to <span id="FA">Friends App</span>!</h3>
</div>
<div class="row">
  <h3>Here's What You Can Do:</h3>
</div>
<div class="row">
  Umami stumptown aesthetic gluten-free lo-fi, put a bird on it actually beard. Four loko brunch church-key, forage pinterest try-hard wolf pitchfork echo park mustache neutra terry richardson artisan shoreditch pork belly. Etsy fingerstache selvage, raw denim american apparel sartorial pug fanny pack trust fund DIY godard bespoke. Brunch mumblecore 3 wolf moon, fingerstache put a bird on it pickled mlkshk. High life american apparel viral banh mi, hoodie stumptown vice pinterest hashtag craft beer thundercats dreamcatcher neutra. Forage before they sold out terry richardson actually mustache retro. Marfa actually hoodie jean shorts meh lomo fixie, 8-bit ethnic high life authentic church-key street art raw denim american apparel.
</div>