<div class="row">
  <h2>Add A New Friend</h2>
  <form class="form-horizontal" action="/create" method="post">
    <div class="control-group">
      <label class="control-label" for="inputName">Name</label>
      <div class="controls">
        <input type="text" name="inputName" placeholder="Name">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="inputAge">Age</label>
      <div class="controls">
        <input type="text" name="inputAge" placeholder="Age">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="inputGender">Gender</label>
      <div class="controls">
        <input type="text" name="inputGender" placeholder="Gender">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="inputImageURL">Image URL</label>
      <div class="controls">
        <input type="text" name="inputImageURL" placeholder="Image URL">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="inputTwitter">Twitter URL</label>
      <div class="controls">
        <input type="text" name="inputTwitter" placeholder="Twitter URL">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="inputFacebook">Facebook URL</label>
      <div class="controls">
        <input type="text" name="inputFacebook" placeholder="Facebook URL">
      </div>
    <div>
        <button type="submit" class="btn btn-warning btn-large">Add Friend!</button>
      </div>
    </div>
  </form>
</div>